

.about-component{
  position:absolute;
  display: block;
  top: 3vh;
  left: 2vw;

  width: 80%;
  aspect-ratio: 1/1;

  z-index: 2;

  background-color: var(--lt-003);
  border: 2px solid var(--red-003);
  border-radius: 2vw;
}

.about-close-btn{
  position: absolute;
  display: block;
  width: 1.8vw;
  height: 1.8vw;

  top: 1vh;
  left: calc(100% - 3vw);

  /* border: 2px solid green;  */

  z-index: 2;

}

.aboutTitle-container{
  position: relative;
  display: block;
  /* border: 2px solid white; */
}

.about-title{
  position: relative;
  display: flex;
  justify-content: center;
  height: 7vh;
  /* border: 2px solid black; */
}

.jeffers-title-svg{
  height: 100%;
  width: 100%;
  /* border: 2px solid green; */
}

.para-tldr{
  font-family: inherit;
  font-weight: 700;
  font-size: 2.7vh;

  color: var(--red-004);
  padding: 0 5vh;

  /* border: 2px solid grey; */


}

.para-body{
  font-family: inherit;
  font-weight: 400;
  font-size: 2.5vh;

  color: var(--black-001);
  padding: 0 2vh;

  /* border: 2px solid pink; */

}
.about-pic-container{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2vh;
}
.about-pic{
  position: relative;
  display: block;
  width: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 2px solid var(--red-004);
  border-radius: 2vh;
}
.about-pic img{
  max-width: 100%;
  object-fit: cover;

}