

svg{
    /* border: 2px solid red; */
}
 

/* Square Close Button */
#closeSq-btn-svg{
    width: 4vw;
    height: 4vw;
    max-width: 1.5rem;
    max-height: 1.5rem;
}

#closeSq-btn-rect{
    fill:#800000;
    stroke:#e9c6af;
    stroke-width:4;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:20.8;
    stroke-dashoffset:190.753;
}

#closeSq-btn-path3{
    fill:#800000;
    stroke:#e9c6af;
    stroke-width:6;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:20.8;
    stroke-dashoffset:190.753; 
}
#closeSq-btn-path4{
    fill:#800000;
    stroke:#e9c6af;
    stroke-width:6;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:20.8;
    stroke-dashoffset:190.753;
}








/* Round Close Button */
#closeRnd-btn-svg{
    /* 
    width: 1.8vw;
    height: 1.8vw; 
    */
    /* Undefined Width and Height causes the savg to inherit its viewport from its container and scale to fit ! */
    /* border: 2px solid cyan;  */
}

#closeRnd-path1{
    fill:#800000;
    stroke:#e9c6af;
    stroke-width:1.07558;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:20.8;
    stroke-dashoffset:190.753;

}

#closeRnd-path9{
    fill:#800000;
    stroke:#e9c6af;
    stroke-width:1.5;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:20.8;
    stroke-dashoffset:190.753;
}

#closeRnd-path10{
    fill:#800000;
    stroke:#e9c6af;
    stroke-width:1.5;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:20.8;
    stroke-dashoffset:190.753;
 
}












/* About and Contact Icons */
#about-svg{
    /* width: 2.5vw;height: 2.5vw; */
}
#about-path{
    fill:#800000;
}

#contact-svg{
    /* default viewport of svg */
    /* width: 3.3vw; height: 3.3vw; */
    /* WIthout deining a width and height for the viewport, the svg inherits the viewport size from its container */
}
#contact-path{
    fill:#800000;
}




 
  
/* left and right arrows */
.nav-icon{
    object-fit: cover;
    width: 1.5vw;
    height: auto;
}
  


#prev-button-path{
    opacity:1;
    fill:#ffeccb;
    fill-opacity:1;
    stroke:#aa0000;
    stroke-width:0.797995;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:20.8;
    stroke-dasharray:none;
    stroke-dashoffset:190.753;

    transition: fill 250ms ease-in-out;
}

#prev-button-path:hover{
  fill: var(--red-002)
}

#next-button-path{
  opacity:1;
  fill:#ffeccb;
  fill-opacity:1;
  stroke:#aa0000;
  stroke-width:0.800545;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:20.8;
  stroke-dasharray:none;
  stroke-dashoffset:190.753;

  transition: fill 250ms ease-in-out;
}

#next-button-path:hover{
  fill: var(--red-002)
}







/* star spinner */
.loading-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20vh auto;

    width: 30vw;
    aspect-ratio: 1/1;

    /* border: 2px solid black; */
}

.svg-star-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    /* border: 2px solid red; */

    animation:  spin 1000ms infinite linear,
                grow 2000ms infinite ease-in-out; 
}

.svg-star-icon svg{

    width: 5rem;
    height: 5rem;
}


#path1-star-spinner{
    fill:#800000;
    stroke:#e9c6af;
    stroke-width:0.113169;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:20.8;
    stroke-dashoffset:190.753;

}

.loading-message{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gerneral-text);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 3rem;

    animation:  pulse 1000ms infinite ease-in-out;
}

#jeffers-path1{
    fill:var(--red-004);
}


@keyframes pulse{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }

@keyframes grow{
    0% {
        width: 6rem;
        height: 6rem;
    }
    50% {
        width: 10rem;
        height: 10rem;
    }
    100% {
        width: 6rem;
        height: 6rem;
    }
}

/* end star-spinner



