:root{

    --white-001: #fff;
    --grey-001: #eeeeee;
    --grey-002: #e0e0e0;
    --grey-003: #acabab;
    --grey-004: #8d8d8d;
    --grey-005: #494949;
    --grey-006: #272727;
    --black-001: #000;
    
    --lt-001: #faf5e8;
    --lt-002: #f5e9c8;
    --lt-003: #f4e2ae;
    --lt-004: #f6de9e;

    --red-001: rgb(255, 225, 225);
    --red-002: rgb(234, 142, 142);
    --red-003: rgb(176, 0, 0);
    --red-004: rgb(127, 0, 0);
    --red-005: rgb(35, 0, 0);
    --red-off: rgba(35,0,0,0);
    --red-fade: rgba(35,0,0,0.5);
    
    --dk-001: #2e2200;
    --dk-002: #654a00;
    --dk-003: #a65e00;
    --dk-004: #ff7b00;
    
    --blu-001:  #cdc8f8;
    --blu-002:  #6b52fc;
    --blu-003:  #1200b3;
    --blu-004:  #1e90ff;
    
    --turq-001: rgb(99, 190, 212);
    --turq-002: rgb(14, 137, 168);
    --turq-003: rgb(1, 75, 94);

}